*{
    box-sizing: border-box;
}


body{
    background-color: #FFD845;
}

.main-cards{
    display: grid;
    grid-template-columns: repeat(4, 307px);
}
.heart-main{
    top:0;
    right:15%;
}

.heart-img{
    top: 21px;
    right: 30px;
}

.heart-img:active{
    background-color: yellow;
}       

.main-card{
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
}


.main-card__body{
    border-top: 2px solid #000000;
}

.card-image{
    display: flex;
    justify-content: center;
    padding: 30px 0 60px;
}








